<!-- app/views/posts/edit.html.erb -->
<% content_for :title, "Edit Post" %>

<div class="w-full max-w-4xl p-6 mx-auto">
  <h1 class="text-4xl font-bold">Edit Post</h1>

  <%= render 'form', post: @post %>
</div>