<% content_for :title, "Posts" %>

<div class="w-full max-w-4xl p-6 mx-auto">

  <div class="flex items-center justify-between">
    <h1 class="text-4xl font-bold">Posts</h1>
    <% if user_signed_in? %>
      <%= link_to "New post", new_post_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
    <% end %>
  </div>

  <div id="posts" class="min-w-full mt-6">
    <% if @posts.any? %>
      <% @posts.each do |post| %>
        <%= render 'post', post: post %>
      <% end %>
    <% else %>
      <p class="my-10 text-center">No posts found.</p>
    <% end %>
  </div>
</div>